In [8]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [9]:
DATA_DIRECTORY = "./data/results/"

In [29]:
resultados = pd.read_csv(DATA_DIRECTORY + "results")
eventos = pd.read_csv(DATA_DIRECTORY + "eventos")
acciones =  pd.read_csv(DATA_DIRECTORY + "actions")

In [30]:
eventos

     dealer_hand  player_hand result  reward  total_reward  bankroll
0             18           15   loss    -1.0          -1.0      95.0
1             25           16    win     1.0           1.0     100.0
2             18           23   loss    -1.0          -1.0      95.0
3             19           18   loss    -1.0          -1.0      85.0
4             25           16    win     1.0           1.0      90.0
..           ...          ...    ...     ...           ...       ...
995           16           23   loss    -1.0          -1.0    -205.0
996           23           16    win     1.0           1.0    -200.0
997           23           13    win     1.0           1.0    -195.0
998           23           14    win     1.0           1.0    -190.0
999           23           23   loss    -1.0          -1.0    -200.0

[1000 rows x 6 columns]

In [31]:
# ¿CVuantas veces pide con menos de 11?

acciones.pivot_table(index="player_hand", columns="action", 
                     aggfunc = "count").fillna(0)

            dealer_hand
action                0      1     2     3
player_hand
4                   4.0    0.0   0.0   0.0
5                   8.0    0.0   0.0   0.0
6                  20.0    0.0   0.0   0.0
7                  24.0    0.0   0.0   0.0
8                  33.0    0.0   0.0   0.0
9                  30.0    0.0   0.0   0.0
10                 59.0    0.0   0.0   0.0
11                 65.0    0.0   0.0   0.0
12                134.0    4.0   0.0   0.0
13                 87.0   52.0   0.0   0.0
14                 41.0   44.0  34.0   9.0
15                 49.0   30.0  34.0  13.0
16                 33.0   73.0  14.0  28.0
17                 14.0   64.0   0.0  32.0
18                 15.0  105.0   0.0   0.0
19                  0.0  111.0   0.0   0.0
20                  0.0  145.0   0.0   0.0
21                  0.0   97.0   0.0   0.0

In [37]:
resultados.loc[0,:]/1000

win          0.426
loss         0.412
draw         0.080
surrender    0.082
Name: 0, dtype: float64